html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 0 100px; /* bottom = footer height */
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    height:30px;
    width: 100%;
    text-align: center;
    padding:5px;
}
/* End Sticky Footer */

.title-text {
    font-size: 50px;
    padding: 10px;
    text-align: center;
    vertical-align: bottom;
}

.leader-text {
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}

.leader-pic {
    padding: 4px;
}

.center form {
    display:inline-block;
}

.centerbox {
    text-align: center;
    padding: 20px;
}

.shadowbox {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    text-align: left;
}

.shadowrow {

}

.joinbutton {
    display: inline-block;;
    min-width: 150px;
    border-top: 1px solid #ffffff;
    background: #00568f;
    background: -webkit-gradient(linear, left top, left bottom, from(#878787), to(#00568f));
    background: -webkit-linear-gradient(top, #878787, #00568f);
    background: -moz-linear-gradient(top, #878787, #00568f);
    background: -ms-linear-gradient(top, #878787, #00568f);
    background: -o-linear-gradient(top, #878787, #00568f);
    padding: 15.5px 25px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #f79c00;
    font-size: 20px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
   }
.joinbutton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.joinbutton:active {
    width: 400px;
    border-top-color: #156296;
    background: #156296;
   }
.whitetext {
    color: white;
}
/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label {
    margin-top:10px;
    margin-bottom:0;
    display:block;
}

.checkboxLabel, .radioLabel {
    display:inline;
}

input[type=text],input[type=password],select {
    width:300px;
    font-size:20px;
}

.error {
    color:red;
    margin:0;
    margin-top:5px;
    padding:0;
    list-style-type:none;
}

.fancybox {
    border-radius: 20%;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding:25px;
    width: 700px;
    height: 250px;
    background-color: #FFCC99;
    margin: auto;
}

.fancyboxsilver {
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding:10px;
    background-color: darkgray;
    margin: auto;
    height: auto;
    width: 60%;
    min-width: 250px;
}

/*----------------------------------------------------
Flash message
-----------------------------------------------------*/
.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:yellow;
    font-weight:bold;
    font-size: 1.5em;
}
