html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 0 100px; /* bottom = footer height */
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#ccc;
    text-align:center;
    padding:5px;
}
/* End Sticky Footer */


section, header, nav {
    padding-left:25px;
    padding-top:25px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li {
    display:inline;
    background-color:#eee;
    padding:5px;
    margin-right:5px;
}

.backgray {
    background-color: lightgray;
    border-radius: 10%;
    padding: 20px;
    width: 48%;
}

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}
/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label {
    margin-top:10px;
    margin-bottom:0;
    display:block;
}

.checkboxLabel, .radioLabel {
    display:inline;
}

input[type=text],input[type=password],select {
    width:300px;
    font-size:20px;
}

.error {
    color:red;
    margin:0;
    margin-top:5px;
    padding:0;
    list-style-type:none;
}

.fancybox {
    border-radius: 20%;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding:25px;
    width: 700px;
    height: 250px;
    background-color: #FFCC99;
    margin: auto;
}

.fancyboxsilver {
    border-radius: 20%;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding:20px;
    background-color: silver;
    margin: auto;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profiletextdiv {
    width: 300px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profilepic {
    height: 200px;
    border-radius: 10%;
    float: right;
}

.profilepicdiv {
    width: 300px;
    float: right;
    overflow: auto;
}

.profiletextdiv2 {
    width: 200px;
    float: left;
    padding: 10px;
    overflow: visible;
    text-overflow: ellipsis;
}

.profilepic2 {
    height: 150px;
    border-radius: 8%;
    float: right;
}

.profilepicdiv2 {
    width: 230px;
    padding: 20px;
    float: right;
    overflow: visible;
}

/*----------------------------------------------------
Flash message
-----------------------------------------------------*/
.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:yellow;
    font-weight:bold;
}
