.questionbox {
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding:20px;
    background-color: gray;
    width: auto;
    max-width: 600px;
    min-height: 70px;
    margin: auto;
    overflow: auto;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.createdbybox {
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding:3px;
    background-color: lightgray;
    width: auto;
    max-width: 600px;
    margin: auto;
    overflow: auto;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.fancyboxback {
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding:2px;
    background-color: blue;
    margin: 20px;
    width: 250px;
    text-align: center;
}

.fancyboxback:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

.fancycategorybox {
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding:2px;
    background-color: darkorange;
    margin: auto;
    width: 250px;
    text-align: center;
}

.fancycategorybox:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

.fancycategoryboxsmall, .hint {
       border-radius: 5px;
       box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
       padding:2px;
       background-color: darkorange;
       margin: auto;
       width: 100px;
       text-align: center;
   }

.fancycategoryboxsmall:hover, .hint:hover {
      border-top-color: #28597a;
      background: #28597a;
      color: #ccc;
      }

.row-centered {
    text-align:center;
    padding: 10px;
    margin: auto;
    float: none;
}

.row-centered2 {
    text-align:center;
    padding: 1px;
    margin: auto;
    float: none;
}

.col-centered {
   display:inline-block;
   float:none;
   text-align:center;
   margin:10px;
}

.categorytext {
    text-align: center;
    text-overflow: ellipsis;
    font-size: 1.5em;
}

a {
    color: white;
}

.wrap {
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.noquestion {
    color: yellow;
}

.hint1-btn {
    color: black;
    border-radius: 5px;
    background-color: orange;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.hint1-used {
    color: black;
    border-radius: 5px;
    background-color: darkgray;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.hint2-btn {
    color: black;
    border-radius: 5px;
    background-color: orange;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}

.hint2-used {
    color: black;
    border-radius: 5px;
    background-color: darkgray;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}

input[type=text] {
    font-size: 1em;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    border-radius: 3px;
    width: 260px;
    margin-left: 20px;
    margin-right: 20px;
}

input[type=submit] {
    color: black;
    border-radius: 5px;
    background-color: orange;
    position: absolute;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    text-align: center;
}

.createdby {
    font-size: .7em;
    color: gray;
    text-align: center;
}

.right-btn {
    color: black;
    border-radius: 3px;
    background-color: orange;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    margin-left: 20px;
}

.left-btn {
    color: black;
    border-radius: 3px;
    background-color: orange;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}
