#profile-image {
    padding: 20px;
    width: 200px;
    height: auto;
}

.profile_image_area {
    width: 250px;
    text-align: center;
}

.profile_info {
    padding: 10px;
    text-align: left;
    position: relative;
    width: 60%;
    height: auto;
}

.pass-btn, .change-btn {
    color: black;
    border-radius: 3px;
    background-color: orange;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.info-btn {
    color: black;
    border-radius: 3px;
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

.profileimage-btn {
    color: black;
    border-radius: 1px;
    background-color: gray;
}

input[type=submit] {
    color: black;
    border-radius: 3px;
    background-color: orange;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}

input[type=text] {
    font-size: 1em;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    border-radius: 3px;
}

.defaultimage {
    color: black;
    border-radius: 10px;
}
